// +++++++++++++++>
// Open BACK-TO-TOP ICON
// +++++++++++++++>
.backtotop_icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    img.backtotop_icon--img {
        width: 70px;
        opacity: 50%;
        transition: opacity 1s;
        &:hover {
            opacity: 100%;
        }
    }
}
// Media Queries
@media screen and (max-width: 440px) {
    .backtotop_icon {
        img.backtotop_icon--img {
            width: 3rem;
        }
    }
}
// +++++++++++++++>
// End BACK-TO-TOP ICON
// +++++++++++++++>


// ++++++++++++++++++++>
// Open BUTTONS Default Style
// ++++++++++++++++++++>
.btn {
    border-radius: 0.25em 0px 0.25em 0px;
    font-size: 16px;
    color: #707070;
    padding: 10px 1.5rem;
    border: none;
    background-color: #fff;
    option {
        color: #707070;
    }
}

.search_btn {
    @extend .btn;
    background-color: #c20114;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    margin-right: 0px;
    cursor: pointer;
    transition: all 0.30s ease;
    &:hover {
        background-color: #731010;
    }
}

.reset_btn {
    background-color: #232b2b;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    transition: all 0.30s ease;
    &:hover {
        background-color: #fff;
        color: #707070;
        border: #707070 1px solid inset;
    }
}

// ++++++++++++++++++++>
// End BUTTONS Default Style
// ++++++++++++++++++++>



// ++++++++++++++++++++++++>
// Open INDEX FORM MIDDLE BUTTONS
// ++++++++++++++++++++++++>

// ++++++++++++++++++++++++>
// Open INDEX FORM MIDDLE BUTTONS
// ++++++++++++++++++++++++>