// Open BACK-TO-TOP Icon
.backtotop_icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    img.backtotop_icon--img {
        width: 70px;
        opacity: 50%;
        transition: opacity 1s;
        &:hover {
            opacity: 100%;
        }
    }
}
// Media Queries
@media screen and (max-width: 440px) {
    .backtotop_icon {
        img.backtotop_icon--img {
            width: 3rem;
        }
    }
}
// End BACK-TO-TOP Icon



// BUTTONS Default Style
.btn {
    border-radius: 0.25em 0px 0.25em 0px;
    font-size: 16px;
    color: #707070;
    // padding: 0.8rem;
    padding: 10px 1.5rem;
    border: none;
}

.search_btn {
    @extend .btn;
    background-color: #c20114;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    margin-right: 0px;
    cursor: pointer;
    &:hover {
        background-color: #731010;
    }
}