// +++++++++++>
// Open CONTACT
// ++++++++++++
main.form_container {
    box-sizing: border-box;
    margin: 20px 1rem;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    form.contact_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #d4d4d4;
        padding: 2rem;
        border-radius: 8px 0px 8px 0px;
        input {
            margin: 0.5rem 0rem;
        }

        textarea {
            margin: 0.5rem 0rem;
            width: 25vw;
            min-width: 270px;
            height: 300px;
            resize: none;
            padding: 1rem;
            border-radius: 8px 0px 8px 0px;
            border: none;
        }
    }
}

// +++++++++++
// End CONTACT
// +++++++++++