// ++++++>
// Open CONTACT
// ++++++>
.contact--HTML {
    display: flex;
        flex-direction: row;
        justify-content: center;
    .contact_form {
        display: flex;
        flex-direction: column;
        background-color: #d4d4d4;
        padding: 1rem;
        margin: 3rem 1rem;
        max-width: 1200px;
        border-radius: 0.5em 0px 0.5em 0px;
        .div-1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 8px;
            justify-items: center;
            align-items: center;
            margin-bottom: 10px;
        }
        .div-2 {
            display: grid;
            justify-content: stretch;
            height: 250px;
            margin-bottom: 10px;
            textarea {
                padding: 1rem;
                border-radius: 0.25em 0px 0.25em 0px;
                resize: none;
                border: none;
            }
        }
    }
}

// Media Queries
@media screen and (max-width: 525px) {
    .contact--HTML {
        .contact_form {
            .div-1 {
                grid-template-columns: 1fr;
                justify-items: stretch;
            }
            .div-2 {
                display: grid;
                justify-content: stretch;
            }
            .div-3 {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 8px;
            }
        }
    }
}

// ++++++>
// End CONTACT
// ++++++>